.divform{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

.homeLink{
    /* text-decoration:none;
    transition: all 0.3s ease 0s; */
    text-decoration:none;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
}
.homeLink:hover{
    color:rgb(86, 30, 139);
}
.homeLi{
    /* display:inline-block;
    padding: 0 60px; */
    background-color: rgba(240, 216, 1, 0.863);
    border-radius: 20px;
    padding: 9px 10px;
    transition: all 0.3s ease 0s;
    display:inline-block;
}
.homeLi:hover{
    background-color:rgba(107, 98, 2, 0.87);
}

.ul{
    list-style: none;
    padding: 0 100px;
    font-size: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border: solid;
    border-radius: 30px;
    border-width: 10px;
}
h1{
    color: rgb(237, 252, 103);
    margin-top: -2%;
    TEXT-DECORATION: underline;
}

.name{
    font-size:25px;
}
.input{
    font-size:20px;
    border-radius: 5px;
    background-color:rgb(68, 68, 68);;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.button{
    font-size: 25px;
    color: white;
    background-color: unset;
    border: solid;
    border-radius: 25px;
    width: 300px;
    height: 60px;
    cursor:pointer;
}
.button:hover{
    background-color:rgb(194, 247, 110);
    color:black
}