.divform{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border: solid;
    border-radius: 30px;
    border-width: 10px;
}
h1{
    color: rgb(237, 252, 103);
    margin-top: -2%;
    TEXT-DECORATION: underline;
}

.name{
    font-size:25px;
}
.input{
    font-size:20px;
    border-radius: 5px;
    background-color:rgb(68, 68, 68);;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.button{
    font-size: 25px;
    color: white;
    background-color: unset;
    border: solid;
    border-radius: 25px;
    width: 300px;
    height: 60px;
    cursor:pointer;
}
.button:hover{
    background-color:rgb(194, 247, 110);
    color:black
}